body {
    font-family: 'Playfair Display';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
}

.banner-image {
    background-size: cover;
}

.navbar-expand-lg {
    transition: all .5s;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}

.dropdown-mega .dropdown-menu {
    margin-top: 0;
    width: 100%;
    border: none;
    border-radius: unset;
    transition: all .5s;
}

.list-item {
    color: black;
}

a {
    text-decoration: none;
}

a.list-item:hover {
    color: #eeb361;
}

.btn-custome {
    border: 1px solid black;
    color: white;
    background: rgb(0, 0, 0);
    /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, rgb(0, 0, 0)rgb(255, 255, 255)htblue 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}

.btn-custome:hover {
    border: 0.5px solid black;
    background-position: left;
}

.about-us {
    width: 65vw;
}

@media (max-width:991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

    .about-us {
        width: 80vw;
    }

    .embed>* {
        padding: 0.35em !important;
    }
}

.embed {
    overflow: hidden;
    padding-block-start: 100%;
    position: relative;
}

.embed--1-2 {
    padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
    padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
    padding-top: calc(100% / (2 / 3));
}

.embed>* {
    height: 100%;
    left: 0;
    object-fit: cover;
    padding: 1em;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Gallery  */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.gallery__item--h-2 {
    grid-column-end: span 2;
}

.gallery__item--h-3 {
    grid-column-end: span 3;
}

.gallery__item--v-2 {
    grid-row-end: span 2;
}

.gallery__item--v-3 {
    grid-row-end: span 3;
}

.blog-card {
    max-width: 20rem;
    /* Adjust the width as needed */
}

.blog-image img {
    width: 100%;
    display: block;
}

.blog-date {
    font-size: 2.5em;
    font-weight: bold;
}

.blog-title {
    font-size: 1em;
    font-weight: bold;
}

.blog-category {
    font-size: 0.85em;
    font-weight: bold;
    padding-left: 1rem;
    border-left: 4px solid black;
    display: inline-block;
    margin-left: -1rem;
}

.blog-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    /* Fixed height for alignment */
    padding: 0.5rem;
}

.hidden-div {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s, visibility 0.8s;
}

.visible-div {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s, visibility 0.8s;
}

/* menu */
.menu_parent {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.menu-right a {
    .menu_parent {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
    }

    ;
    font-family: 'Open Sans',
    sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content-cart-hid a,
.content-cart-hid p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333;
}

.cart-hid {
    background: #fff;
    min-width: 370px;
    box-shadow: #0000001c 0 5px 15px;
}

.content-cart-hid {
    height: 150px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.content-cart-hid a {
    word-spacing: 2px;
    font-size: 14px;
}

.content-cart-hid p.total-cart-menu {
    color: #999999;
    font-weight: 400;
}

.content-cart-hid p.total-cart-menu span {
    color: #333;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 500;
}

.li-menu-cart:hover .cart-hid {
    opacity: 1;
    visibility: visible;
}

.li-menu-cart .cart-hid {
    position: absolute;
    right: 0;
    top: 50px;
    display: block;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}